.center{
    width: 90%;
    margin: 0 auto;
    padding: 0%;}
.margin{
    margin-bottom: 10px;}
.padding{
    padding-top: 10px;
    padding-bottom: 10px;}
.notebook{
    width: 80%;}
.notebook img{
    width: 100%;}